<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <title><%= title %></title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->

    <!-- Nav -->
    <%- include('partials/navbar.ejs') %>

    <!--main -->

    <% if(movieError){ %>
    <p><%= movieError %></p>
    <% } %>

    <!-- actor area -->
    <% if(actor){ %>
    <img
      src="<%= posterURL + actor.profile_path %>"
      alt="<%= title %>"
      onerror="this.src='/images/default_poster.png'"
    />
    <h2><%= actor.name %></h2>
    <p><%= actor.biography %></p>
    <hr />
    <% } %>

    <!-- movie area  -->

    <% if(reqError) { %>
    <h3><%= reqError %></h3>
    <% } else {%> <% data.forEach(movie => { %>

    <a href="/movie/<%= movie.id %>">
      <img
        src="<%= posterURL + movie.poster_path %>"
        alt="<%= movie.title %> Poster"
        onerror="this.src='/images/default_poster.png'"
      />
    </a>
    <% })} %>

    <!-- footer -->
    <%- include('partials/footer.ejs') %>

    <script src="/javascripts/main.js" defer></script>
  </body>
</html>
